*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{

    background:#f4f6f9;
    padding:30px;

}

.container{

    width:95%;
    margin:auto;

}

.header{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;

}

.header h2{

    color:#1d4ed8;

}

button{

    padding:10px 18px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    color:white;

}

table{

    width:100%;
    border-collapse:collapse;
    background:white;

}

th{

    background:#2563eb;
    color:white;
    padding:12px;

}

td{

    padding:12px;
    text-align:center;
    border-bottom:1px solid #ddd;

}

.approve{

    background:green;
    margin-right:5px;

}

.reject{

    background:red;

}

.logout{

    background:#444;

}

tr:hover{

    background:#f2f2f2;

}