*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

background:#f4f6f9;

}



.navbar{

padding:15px;

}



.container{

background:white;

padding:25px;

border-radius:10px;

margin-top:30px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



h3{

color:#1e293b;

margin-bottom:20px;

}



table{

width:100%;

}



thead{

background:#2563eb;

color:white;

}



th,td{

padding:12px;

text-align:center;

}



tbody tr:hover{

background:#f1f5f9;

}




.accept-btn{

background:#16a34a;

color:white;

border:none;

padding:8px 15px;

border-radius:5px;

}



.reject-btn{

background:#dc2626;

color:white;

border:none;

padding:8px 15px;

border-radius:5px;

}



.deliver-btn{

background:#2563eb;

color:white;

border:none;

padding:8px 15px;

border-radius:5px;

}


button:hover{

opacity:.8;

}
.wrapper{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:260px;
    background:#1f2937;
    color:white;
    padding:20px;
}

.sidebar h2{
    color:white;
    margin-bottom:40px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    margin-bottom:10px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px;
    border-radius:10px;
}

.sidebar a:hover,
.sidebar .active a{
    background:#2563eb;
}

.main-content{
    flex:1;
    padding:30px;
    background:#f4f6f9;
}
